pipeline/sqlserver-to-adls.json
{
	"name": "sqlserver-to-adls",
	"properties": {
		"activities": [
			{
				"name": "Check if Full or Delta",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@if(equals(toUpper(pipeline().parameters.LoadType), 'FULL'), true, false)\n",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Copy Delta",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('select * from dbo.',pipeline().parameters.TableName,' where order_date >= ''',formatDateTime(variables('LastRunTimestamp'), 'yyyy-MM-dd HH:mm:ss'),'''')\n\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "FlattenHierarchy"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "order_id",
												"type": "Byte",
												"physicalType": "tinyint"
											},
											"sink": {
												"name": "order_id",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "customer_id",
												"type": "Byte",
												"physicalType": "tinyint"
											},
											"sink": {
												"name": "customer_id",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "cart_id",
												"type": "Byte",
												"physicalType": "tinyint"
											},
											"sink": {
												"name": "cart_id",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "item_count",
												"type": "Byte",
												"physicalType": "tinyint"
											},
											"sink": {
												"name": "item_count",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "order_date",
												"type": "DateTime",
												"physicalType": "datetime2"
											},
											"sink": {
												"name": "order_date",
												"type": "String",
												"physicalType": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSqlTable1",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DelimitedText1",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "Get Metadata1",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DelimitedText1",
									"type": "DatasetReference"
								},
								"fieldList": [
									"lastModified"
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Get Metadata1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "LastRunTimestamp",
								"value": {
									"value": "@first(activity('Get Metadata1').output).lastModified",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy Full Load",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('select * from dbo.',pipeline().parameters.TableName,';')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "FlattenHierarchy"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "order_id",
												"type": "Byte",
												"physicalType": "tinyint"
											},
											"sink": {
												"name": "order_id",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "customer_id",
												"type": "Byte",
												"physicalType": "tinyint"
											},
											"sink": {
												"name": "customer_id",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "cart_id",
												"type": "Byte",
												"physicalType": "tinyint"
											},
											"sink": {
												"name": "cart_id",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "item_count",
												"type": "Byte",
												"physicalType": "tinyint"
											},
											"sink": {
												"name": "item_count",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "order_date",
												"type": "DateTime",
												"physicalType": "datetime2"
											},
											"sink": {
												"name": "order_date",
												"type": "String",
												"physicalType": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSqlTable1",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DelimitedText1",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"TableName": {
				"type": "string",
				"defaultValue": "orders"
			},
			"LoadType": {
				"type": "string",
				"defaultValue": "Full"
			}
		},
		"variables": {
			"LastRunTimestamp": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-05-10T13:11:07Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}