pipeline/sqlserver-to-adls.json
{
	"name": "sqlserver-to-adls",
	"properties": {
		"activities": [
			{
				"name": "Check if Full or Delta",
				"type": "IfCondition",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@if(equals(toUpper(pipeline().parameters.LoadType), 'FULL'), true, false)\n",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Copy Delta",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('select * from dbo.',pipeline().parameters.TableName,' where ', pipeline().parameters.DeltaColumn, ' >= ''',formatDateTime(variables('LastRunTimestamp'), 'yyyy-MM-dd HH:mm:ss'),'''')\n\n",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "FlattenHierarchy"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "order_id",
												"type": "Byte",
												"physicalType": "tinyint"
											},
											"sink": {
												"name": "order_id",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "customer_id",
												"type": "Byte",
												"physicalType": "tinyint"
											},
											"sink": {
												"name": "customer_id",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "cart_id",
												"type": "Byte",
												"physicalType": "tinyint"
											},
											"sink": {
												"name": "cart_id",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "item_count",
												"type": "Byte",
												"physicalType": "tinyint"
											},
											"sink": {
												"name": "item_count",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "order_date",
												"type": "DateTime",
												"physicalType": "datetime2"
											},
											"sink": {
												"name": "order_date",
												"type": "String",
												"physicalType": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSqlTable1",
									"type": "DatasetReference",
									"parameters": {
										"DbName": {
											"value": "@pipeline().parameters.DbName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DelimitedText1",
									"type": "DatasetReference",
									"parameters": {
										"FolderName": {
											"value": "@pipeline().parameters.TableName",
											"type": "Expression"
										},
										"FileName": {
											"value": "@pipeline().parameters.TableName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Delta-Lookup",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "LastRunTimestamp",
								"value": {
									"value": "@activity('Lookup1').output.firstRow.watermarkvalue",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Script_delta",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Copy Delta",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference",
								"parameters": {
									"DbName": {
										"value": "@pipeline().parameters.DbName",
										"type": "Expression"
									}
								}
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat(\n    'UPDATE watermarktable SET WatermarkValue = ''',\n    formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss'),\n    ''' WHERE TableName = ''',\n    pipeline().parameters.TableName,\n    ''''\n)\n",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "Delta-Lookup",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('select watermarkvalue from dbo.watermarktable where TableName = ''', pipeline().parameters.TableName, '''')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "AzureSqlTable1",
									"type": "DatasetReference",
									"parameters": {
										"DbName": {
											"value": "@pipeline().parameters.DbName",
											"type": "Expression"
										}
									}
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy Full Load",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "@concat('select * from dbo.',pipeline().parameters.TableName,';')",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "FlattenHierarchy"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "order_id",
												"type": "Byte",
												"physicalType": "tinyint"
											},
											"sink": {
												"name": "order_id",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "customer_id",
												"type": "Byte",
												"physicalType": "tinyint"
											},
											"sink": {
												"name": "customer_id",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "cart_id",
												"type": "Byte",
												"physicalType": "tinyint"
											},
											"sink": {
												"name": "cart_id",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "item_count",
												"type": "Byte",
												"physicalType": "tinyint"
											},
											"sink": {
												"name": "item_count",
												"type": "String",
												"physicalType": "String"
											}
										},
										{
											"source": {
												"name": "order_date",
												"type": "DateTime",
												"physicalType": "datetime2"
											},
											"sink": {
												"name": "order_date",
												"type": "String",
												"physicalType": "String"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSqlTable1",
									"type": "DatasetReference",
									"parameters": {
										"DbName": {
											"value": "@pipeline().parameters.DbName",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DelimitedText1",
									"type": "DatasetReference",
									"parameters": {
										"FolderName": {
											"value": "@pipeline().parameters.TableName",
											"type": "Expression"
										},
										"FileName": {
											"value": "@pipeline().parameters.TableName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Script1",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Copy Full Load",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference",
								"parameters": {
									"DbName": {
										"value": "@pipeline().parameters.DbName",
										"type": "Expression"
									}
								}
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@concat(\n    'INSERT INTO watermarktable VALUES (''',\n    pipeline().parameters.TableName,\n    ''', ''',\n    formatDateTime(utcNow(), 'yyyy-MM-dd HH:mm:ss'),\n    ''')'\n)",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"TableName": {
				"type": "string",
				"defaultValue": "orders"
			},
			"LoadType": {
				"type": "string",
				"defaultValue": "Full"
			},
			"DeltaColumn": {
				"type": "string",
				"defaultValue": "order_date"
			},
			"DbName": {
				"type": "string",
				"defaultValue": "favor"
			}
		},
		"variables": {
			"LastRunTimestamp": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-05-10T13:11:07Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}